### IntelliJ IDEA ###
.idea/
*.iml
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Cheetah_Pregius_POE_P67_User_Manual_rev.1.6_f.pdf

### Scala / sbt ###
target/
project/target/
project/project/
.bsp/
.bloop/
.metals/
.scala-build/
.ivy2/
.sbt/
.coursier/

### Native build artifacts ###
imperx-native/build/
